h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

h2 {
    font-size: 30px;
}


h3 {
    font-size: 25px;
    margin: 0;
}

h4 {
    font-size: 25px;
    margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
/* 

.popupContainer {
  position: relative;
  justify-content: center;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background: #000000;
  padding: 20px 20px 20px;
  position: absolute;
  font-size: 30px;
  color: #fbf1c7;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */