<!DOCTYPE html>
<html>
    <head>
        <title>Create Manager</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    </head>

    <body>
        <header>
            <h1>
                <center>Create Manager</center>
            </h1>
            <nav>
                <ul>
                    <li><a href="{{url_for('admin_home')}}">Home</a></li>
                    <li><a href="{{url_for('admin_create_manager')}}">Create Manager</a></li>
                    <li><a href="{{url_for('admin_create_employee')}}">Create Employee</a></li>
                    <li><a href="{{url_for('admin_delete_manager')}}">Delete Manager</a></li>
                    <li><a href="{{url_for('admin_delete_employee')}}">Delete Employee</a></li>
                    <li><a href="{{url_for('login')}}">Logout</a></li>
                </ul>
            </nav>
        </header>

        <form action="{{url_for('admin_create_manager')}}" method="POST">
            <div class="container">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit">Create Manager</button>
            </div>
    </body>
</html>